  <div class="side-header">
  <div class="logon-name">
    <a href="#">仮Tom</a>
  </div>
  <div class="create-room">
    <a href="#">チャットを作成する</a>
  </div>
  </div>
  
  <div class="side-main">
   <div class="room">
    <div class="chat-name">
    <a href="#">仮のチャットルーム名１</a>
    </div>
   </div>
   <div class="room">
    <div class="chat-name">
    <a href="#">仮のチャットルーム名２</a>
    </div>
   </div>
  </div>